services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: db
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    depends_on:
      - db
    working_dir: /app
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/db
    volumes:
    - ./logs:/app/logs
    command: python -m project.main

  db_test:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test_db
    ports:
      - "5433:5432"

volumes:
  postgres_data:
